<div class="container-fluid h-100">
    <div class="col-sm-12 col-lg-12 mb-3 d-flex flex-column">
        <h1 class="card-title mb-3">Регистрация</h1>
        <div class="card text-card mt-3 flex-fill">
            <div class="container-reg">
                <div class="reg-cols">
                    <div class="reg-col">
                        <div>
                            <p>Имя<span style="color:red">*</span>: </p>
                            <input type="text" [(ngModel)]="firstname"/>
                        </div>
                        <div>
                            <p>Фамилия<span style="color:red">*</span>: </p>
                            <input type="text" [(ngModel)]="lastname"/>
                        </div>
                        <div>
                            <p>Отчество: </p>
                            <input type="text" [(ngModel)]="middlename"/>
                        </div>
                        <div>
                            <p>Email:<span style="color:red">*</span> </p>
                            <input type="email" [(ngModel)]="email"/>
                        </div>
                        <div>
                            <p>Номер телефона:<span style="color:red">*</span> </p>
                            <input type="text" [(ngModel)]="phone"/>
                        </div>
                    </div>
                    <div class="reg-col">
                        <div>
                            <p>Регион:<span style="color:red">*</span> </p>
                            <select [(ngModel)]="region">
                                <option *ngFor="let r of regions" [value]="r.id">{{r.subjectName}}</option>
                            </select>
                        </div>
                        <div>
                            <p>Пол:<span style="color:red">*</span> </p>
                            <select [(ngModel)]="gender">
                                <option *ngFor="let g of genders" [(ngModel)]="g.name" [value]="g.id">{{g.name}}</option>
                            </select>
                        </div>
                        <div>
                            <p>Логин:<span style="color:red">*</span> </p>
                            <input type="text" [(ngModel)]="login"/>
                        </div>
                        <div>
                            <p>Пароль:<span style="color:red">*</span> </p>
                            <input type="password" [(ngModel)]="password"/>
                        </div>
                    </div>
                </div>
            
                <button class="form-control" (click)="registration()">Регистрация</button>
            </div>
        </div>
    </div>
</div>