.reg-col{
    width: 300px;
    display: block;
    float: left;
}
.reg-cols{
    width: 700px;
    height: 420px;
    /* display: block;
    float: left; */
}
p{
    margin-top: 10px;
    margin-bottom: 5px;
}
select{
    width: 250px;
    height: 36px;
}
button{
    width: 150px;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: var(--hats-bg);
    color: var(--white);
    margin: auto;
}
button:hover{
    background-color: var(--main-bg);
}
.container-reg{
    width: 650px;
    display: block;
    margin:auto;
    height: 450px;
}