<div class="container-fluid h-100">
    <div class="col-sm-12 col-lg-12 mb-3 d-flex flex-column">
        <h1 class="card-title mb-3">Добрый день, {{firstname}}!</h1>
        <div class="card text-card mt-3 flex-fill">
            <div class="container-auth">
                <div class="main-container">
                    <div class="top-container">
                        <button class="form-control" (click)="addTour()">Добавить тур</button>
                    </div>
                    <div class="tour-container">
                        <div class="tour-element" *ngFor="let item of tours">
                            <a class="card btn text-start p-0" [routerLink]="['/tour', item]">
                                <img class="tour-image" src="../../assets/no-image.png"/>
                              
                                <div class="tour-text">
                                    <div class="tour-name card-text-overlay text-bottom">
                                        {{ item.name }}
                                    </div>
                                    <div class="tour-description">
                                        {{ item.description }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>