.main-container{
    width: 80%;
    height: auto;
    
}
.top-container{
    margin-right: 0;
    margin-left: auto;
    height: 100%;
    width: 160px;
    display: block;
}
.tour-container{
    
}
button{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--hats-bg);
    color: var(--white);
}
button:hover{
    background-color: var(--main-bg);
}
.tour-image{
    width: 300px;
    float: left;
}
.tour-element{
    width: 100%;
}
.tour-name{
    width: 600px;
    color: var(--color-dark);
}
.tour-description{
    height: 90px;
    overflow: hidden;
}
.tour-text{
    width: 500px;
    height: 100px;
    overflow: hidden;
}