<div class="m-0 row container-fluid">
    <div class="col-lg-12 col-sm-12 mt-0 mb-3 d-flex flex-column">
        <h1 class="card-title">Мастер класс по золотному шитью</h1>
        <div class="card mt-3 ratio ratio-16x9">
            <video class="card-img-bottom" controls muted src="/assets/lv_0_20230415190928.mp4"></video>
        </div>
    </div>

    <div class="col-lg-12 col-sm-12 mb-3 d-flex flex-column">
        <h1 class="card-title">Описание</h1>
        <div class="card text-card mt-3 flex-fill">
            Мастерская золотного шитья – это место, где все могут погрузиться в традиции и искусство черкесского золотного шитья. Место, где каждый найдет вдохновение и возможность развить свой творческий потенциал. 
<br>История золотного шитья адыгов восходит к далекому прошлому, когда украшения из золотой нити использовались высшими слоями общества в качестве символа статуса и богатства. Шитьем золотом и изготовлением басонных изделий в основном занимались представительницы знатных родов, обучение которому составляло обязательную часть их воспитания. Это ремесло передавалось из поколения в поколение, сохраняя традиции и уникальные техники.
<br>Адыги использовали четыре вида техники золотного шитья: шитье «в прикреп», шитье «гладь», тканье галуна и плетение басонных изделий, кружев.
<br>Для всех видов применяли трафареты, вырезанные из бумаги, картона, а в давние времена – из пузыря животных. Их так же выдавливали на глиняных плитах, которые затем обжигались. Трафареты изготавливали сами вышивальщицы, но были и специальные мастера по вырезке узоров. В основном это были женщины. Секреты изготовления узоров  передавались из поколения в поколение. При изготовлении шитья «в прикреп» или выкладкой («дышъэидагъ») пользовались трафаретом только для нанесения контура узора, что позволяло его многократное использование. Когда же шили гладью, трафарет оставался под шитьем.
<br>Сегодня вышивальщицы из Адыгеи продолжают эту традицию и придают ей современный облик, сочетая классические орнаменты с новыми дизайнерскими решениями.
<br>Приобщиться к золотому шитью можно в Мастерской золотного шитья. Здесь опытные мастера проводят мастер-классы, на которых вы сможете овладеть техниками, которые используются для создания уникальных украшений из золотой нити.
<br>Мы ждем вас на улице 2-я Ветеранов, чтобы поделиться с вами нашим опытом и знаниями об этом уникальном ремесле.

 

        </div>
    </div>

    <div class="col-lg-6 col-sm-12 mb-3 d-flex flex-column">
        <h1 class="card-title">Как добраться</h1>
        <div class="card map-card mt-3 align-items-center justify-content-center" style="overflow: hidden;">
            <app-yandex-maps [showRegion]="false" [tourId]="'1'" class="card-img-bottom map-placeholder"></app-yandex-maps>
        </div>
    </div>

    <div class="col-lg-6 col-sm-12 mb-3 d-flex flex-column">
        <h1 class="card-title">Ответственные лица и контакты</h1>
        <div class="card text-card mt-3 flex-fill">
            <h3>Ответственные лица</h3>
            <ul class="list-group list-group-flush">
                <li>Иванов Иван Иванович</li>
            </ul>
            <br>
        </div>
    </div>
</div>
