.region-name-card {
    background: #55856f; 
}
.region-description-card {
    background: #55856f; 
}
.carousel-image-mask {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 30%, rgba(0,0,0,0.5) 100%); 
}
.carousel-image-container {
    background: #000 !important;
}


